* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body {
  font-family: 'poppins', Arial, sans-serif;
  color: #36393b;
  font-size: 17px;
}

a {
  text-decoration: none;
  color: #36393b;
}
a:hover {
  color: #a31621;
}

/* https://coolors.co/a31621-36393b-bfc0c0-ffffff-b0a1ba */

/* NAVBAR */
.navbar {
  z-index: 99999;
  
}

.navbar-nav {
  flex-direction: row;
}

.nav-item {
  padding: 8px;
}
/* fim NAVBAR */

/* Main */


.main__imagem {
  background: url("../img/home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  opacity: .8;
  height: 500px;
  margin-top: 72px;
}

.main__texto {
  padding-top: 100px;
}

/* Main */


/* Guia */
.nav-tabs{
  padding: 2px;
  display: flex;
}

.guia {
  background: url("../img/pattern.png");
  background-repeat: repeat; 

}

/* Guia */
.tab-content p{
  color: #000000;
}

/* Sobre */
.bairro__div, .rest{
  display: flex;
  justify-content: center;
}

/* sobre */