* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body {
  font-family: 'poppins', Arial, sans-serif;
  color: #36393b;
  font-size: 17px;
}

a {
  text-decoration: none;
  color: #36393b;
}
a:hover {
  color: #a31621;
}


/* NAVBAR */
.navbar {
  z-index: 99999;
  
}

.navbar-nav {
  flex-direction: row;
}

.nav-item {
  padding: 8px;
}
/* fim NAVBAR */

/* Main */
.main__imagem {
  background: url("../img/home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  height: calc(100vh - 72px);
  margin-top: 72px;
}

/* Main */


/* Guia */
.nav-tabs{
  padding: 2px;
  display: flex;
}

.guia {
  background: url("../img/pattern.png");
  background-repeat: repeat; 
}
/* Guia */


/* Sobre */
.bairro__div, .rest{
  display: flex;
  justify-content: center;

}
/* sobre */

footer p{
display: flex;
justify-content: center;
align-items: center;
}