* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Mirza', cursive, Arial, Helvetica, sans-serif;
  color: darkgrey;
  font-size: 25px;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
}

/* NAVBAR */
.navbar {
  color: #2f2f2f;
}

.navbar-nav {
  flex-direction: row;
}

.nav-item {
  padding: 8px;
}
/* fim NAVBAR */

/* Main */
.main__filter{
  background-color: rgba(219, 3, 3, 0.795);
  width: auto;
  height: 200px;
  z-index: 99999;
}

.main__imagem {
  background: url("../img/home.jpg");
  background-size: cover;
  text-align: center;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  border-color: #2f2f2f;
  display: flex;
  align-items: center;
  margin: 0 auto;
  
}
/* Main */